*.class
TLEvacSim/TLEvacSim/build/
/Model/JMonkey Project/Attempt2 (copy)/build/
/Model/JMonkey Project/Attempt2 (copy)/nbproject/private/
/Model/JMonkey Project/Michael/build/
/Model/JMonkey Project/Michael/nbproject/private/
/Model/JMonkey Project/Michael/dist/
/TSES/nbproject/private/
/TSES/build/
/Model/JMonkey Project/Michael_1/nbproject/private/
/Model/JMonkey Project/Michael_1/build/
/Model/JMonkey Project/Michael_1/dist/
/TSES/dist/
TSES/lwjgl64.dll
TSES/OpenAL64.dll
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.toc
*.jar
/TSES/dist/*
!/TSES/lib/cai-nmgen-0.1.2.jar
!/Submission/*

